body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.code-editor {
  min-width: 200px;
  margin-top: 15px;
  height: 350px;
  /* min-height: 300px; */
  /* max-height: 400px; */
}

.code-editor .code-editor-cm {
  height: 100%;
  border: 1px solid gray;
}

.code-editor .code-editor-title h2 {
  border: 1px solid gray;
  border-bottom: none;
}

#lua-filter .code-editor-cm {
  border-left: none !important;
  border-right: none !important;
}

#lua-filter .code-editor-title h2 {
  border-left: none !important;
  border-right: none !important;
}

#code-editors, #control-bar {
  display: flex;
  margin: 25px;
}

#control-bar {
  justify-content: space-around;
}

#input-events, #output-events {
  width: 25%;
}

#lua-filter {
  width: 50%;
}

.code-editor h2 {
  color: #444444;
  text-align: center;
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  margin: 0;
}

.upload-file input[type=file] {
  display: none;
}

.upload-file label:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}
